{% extends "index.html" %}

{% block nav %}
<nav class="navbar is-dark" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><img src="/favicon.ico" alt="hdoc" width="30">&nbsp; <b>hdoc</b></a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/docs">Documentation</a>
        <a class="navbar-item" href="/pricing">Pricing</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="https://demo.hdoc.io">See the Demo</a>
            <a class="button is-link" href="https://app.hdoc.io/accounts/signup/">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock nav %}

{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-7">
        <h1 class="title is-1">404</h1>
        <p class="subtitle is-3">Page not found</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
