{% extends "index.html" %}
{% import "macros/nav.html" as nav %}

{% block title %}
<title>{{ page.title }}</title>
{% endblock title %}

{% block description %}
<meta name="description" content="{{ page.description }}">
{% endblock description %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      {{nav::side_nav(title=page.title)}}
      <div class="content column is-two-thirds">
        {{ page.content | safe }}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
